<div class="vender-purchase-order-title mt-4">
    <h1>Projects</h1>
</div>
<div class="vendor-purchase-order-details">
    <div class="row purchase-order-row">
        <div class="col-6">Project Name</div>
        <div class="col-2">Logged Hours</div>
        <div class="col-2">Billed Hours</div>
        <div class="col-2">Unbilled Hours</div>
    </div>
    <div class="row purchase-order-list-row align-items-center">
        <div class="col-6 col-order"> <a class="text-decoration-none" href="customer-portal/project">Branding for Bernard Consultancy</a></div>
        <div class="col-2">10:30</div>
        <div class="col-2">02:00</div>
        <div class="col-2">08:30</div>
    </div>
</div>
