<div class="customer-portal-home-title mt-4 mb-5">
    <h1>Hello Patrica Bernard!</h1>
</div>
<div class="invoice-credit d-flex">
    <div class="invoice-credit-left me-4">
        <div class="invoice-credit-left-inner d-flex justify-content-between">
            <div class="invoice-price-left">
                <p class="outstanding-invoice mb-2">OUTSTANDING INVOICES</p>
                <p class="outstanding-usd mb-3">$150.00</p>
                <button class="btn btn-primary btn-sm">Pay Now</button>
            </div>
            <div class="invoice-price-right">
                <p class="available-credits mb-2">Available Credits</p>
                <p class="available-credits-usd mb-0">$0.00</p>
            </div>
        </div>
    </div>
    <div class="invoice-credit-right">
        <div class="invoice-credit-right-inner">
            <p class="credit-estimates mb-3">ESTIMATES <span>(need to be approved)</span></p>
            <p class="credit-number mb-4"><a class="text-decoration-none" href="customer-portal/estimates">2</a></p>
            <div class="sep-border mb-3"></div>
            <p class="credit-estimates">LAST PAYMENT MADE</p>
            <p class="credit-number">$200.00</p>
            <p class="credit-paid mb-0">paid for <span>INV-000037,</span></p>
            <p class="credit-paid mb-0">on 16 feb 2016.</p>
        </div>
    </div>
</div>
<div class="customer-portal-contect-details mt-4">
    <div class="customer-portal-header">
        <div class="customer-portal-heaer-inner">
            <h2 class="mb-0">Contact Details of Zylkar</h2>
        </div>
    </div>
    <div class="customer-portal-details d-flex justify-content-between mt-4 ms-1">
        <div class="customer-portal-details-left mb-3">
            <p class="customer-portal-name mb-1">Zylkar</p>
            <p class="customer-portal-adress mb-0">4141 Hacienda Dr</p>
            <p class="customer-portal-adress mb-0">Pleasanton, California 94588</p>
            <p class="customer-portal-adress mb-0">USA</p>
        </div>
        <div class="customer-portal-details-right">
            <p class="cs-name mb-1"><i class="fa-light fa-user pe-2"></i> Patrica Boyle</p>
            <p class="cs-mail"><i class="fa-light fa-envelope pe-2"></i><a class="text-decoration-none" href="">patricaab@zillum.com</a></p>
        </div>
    </div>
    <div class="customer-portal-btns d-flex ps-2">
        <button class="btn btn-primary btn-sm me-2"><i class="fa-light fa-envelope pe-2"></i>Mail</button>
        <button class="btn btn-primary btn-sm"><i class="fa-light fa-pen pe-2"></i>Review</button>
    </div>
</div>
<div class="customer-portal-contect-details mt-4">
    <div class="customer-portal-header">
        <div class="customer-portal-heaer-inner">
            <h2 class="mb-0">Contact Details of Zylkar</h2>
        </div>
    </div>
    <div class="customer-portal-details d-flex justify-content-between mt-4 ms-1 mb-2">
        <div class="customer-portal-details-right">
            <p class="cs-name mb-1"><i class="fa-light fa-user pe-2"></i> Patrica Boyle</p>
            <p class="cs-mail"><i class="fa-light fa-envelope pe-2"></i><a class="text-decoration-none" href="">patricaab@zillum.com</a></p>
        </div>
    </div>
    <div class="cs-portal-footer"></div>
    <div class="cs-portal-footer-inner d-flex justify-content-between ms-1">
        <div class="cs-portal-footer-left d-flex">
            <p class="cs-portal-footer-left-p mb-0 me-4">BILLING ADDRESS</p>
            <a class="text-decoration-none" href="">Edit</a>
        </div>
        <div class="cs-portal-footer-right d-flex">
            <p class="cs-portal-footer-right-p mb-0 me-4">SHIPPING ADDRESS</p>
            <a class="text-decoration-none" href="">Edit</a>
        </div>
    </div>
</div>