<div class="admin-page-wrapper">
    <div class="page-header">
        <div *ngIf="!headerCollapsed" class="d-flex justify-content-between align-items-center">
            <div class="header-lhs d-flex align-items-center">
                <h4 class="page-heading mb-0 pe-2" contenteditable="true">
                    <span>Installed Apps</span>
                </h4>
                <span class="ms-2 me-2"  mat-raised-button matTooltip="Show board description" matTooltipPosition="above" matTooltipClass="above"><i class="fa-thin fa-circle-info"></i></span>
                <span class="favorite" mat-raised-button matTooltip="Add to favorites" matTooltipPosition="above" matTooltipClass="above"><i class="fa-thin fa-star"></i></span>
            </div>
            <div class="header-rhs d-flex align-items-center">
                <div class="button-group ms-2">
                    <button type="button" class="btn btn-outline-secondary borderless dropdown-toggle-split" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Console log</a></li>
                        <li><a class="dropdown-item">Clear local cache only</a></li>
                        <li><a class="dropdown-item">Clear cache and database both</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="!headerCollapsed" class="page-heading-description w-50" contenteditable="true">
            <span>This is description</span>
            <i class="fa-solid fa-ellipsis"></i>
        </div>
        <div class="header-nab-tabs d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <h5 class="mb-0 me-4" contenteditable="true" *ngIf="headerCollapsed">Installed Apps</h5>
                <ul class="tabslink nav boards-top-menu-style" id="nav-tab" role="tablist">
                    <li class="nav-item active" id="nav-apps-tab" data-bs-toggle="tab" data-bs-target="#nav-apps" type="button" role="tab" aria-controls="nav-apps" aria-selected="true">
                        <div class="boards-top-menu-style-first"><i class="fa-thin fa-home"></i> Apps</div>
                        <div class="boards-top-menu-style-third">
                            <span class="dropdwon-btn" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></span>
                            <div class="dropdown-menu p-0 style-less">
                                <ul class="list-group list-group-flush list-group-sm">
                                    <li class="list-group-item"><i class="fa-light fa-star"></i><span class="ms-2">Add to my favorites</span></li>
                                    <li class="list-group-item"><i class="fa-light fa-pencil"></i><span class="ms-2">Rename</span></li>
                                    <li class="list-group-item"><i class="fa-light fa-trash"></i><span class="ms-2">Delete</span></li>
                                    <li class="list-group-item"><i class="fa-light fa-home"></i><span class="ms-2">Set as board default</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="dropdown plus-icon-drop-invoice button-group outlined single-btn-in-group ms-2">
                    <button type="button" class="btn btn-outline-secondary add-new-page" mat-raised-button matTooltip="Add view" matTooltipPosition="right" matTooltipClass="right" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-thin fa-plus"></i>
                    </button>
                    <div class="dropdown-menu p-0 style-less">
                        <ul class="list-group list-group-flush list-group-sm">
                            <li class="list-group-item">
                                <div class="ls" data-bs-toggle="modal" data-bs-target="#viewcenter" >
                                    <i class="fa-light fa fa-home"></i>
                                    <span class="ms-2">Apps</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-centere">
                <div *ngIf="headerCollapsed" class="header-rhs d-flex align-items-center me-2" style="margin-top: -5px;">
                    <div class="button-group outlined borderless">
                        <button type="button" class="btn collapsed btn-outline-secondary"><i
                                class="fa-thin fa-envelope"></i> Bulk Emails
                        </button>
                        <button type="button"
                                class="btn collapsed btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="button-group ms-2">
                        <button type="button" class="btn collapsed btn-outline-secondary borderless dropdown-toggle-split"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <div (click)="headerToggle()" class="header-collapse-btn"><i class="fa-thin fa-angle-{{anglePos}}"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="admin-page-content-wrapper">
        <div class="tab-content mb-5" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-apps" role="tabpanel" aria-labelledby="nav-apps-tab">
                <table class="mt-4 table align-middle borderd-left-td">
                    <thead>
                        <tr>
                            <th>App</th>
                            <th>Installer</th>
                            <th>Plan</th>
                            <th>Expiration Date</th>
                            <th>Billing</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="rounded me-2" src="./assets/img/left-menu/Vector.png" width="25px">
                                    <h4 class="mb-0">Easy Form</h4>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center lineh-10">
                                    <span class="initials me-2">TM</span>
                                    <div>
                                        <h4 class="mb-0">Tim Moses</h4>
                                        <small>Jul 6, 2022</small>
                                    </div>
                                </div>
                            </td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>
                                <div class="dropstart">
                                    <span data-bs-toggle="dropdown" aria-expanded="true"><i class="fa-solid fa-ellipsis"></i></span>
                                    <ul class="dropdown-menu p-0">
                                        <ul class="list-group list-group-flush list-group-sm">
                                            <li class="list-group-item"><span>Open App</span></li>
                                            <li class="list-group-item"><span>Billing</span></li>
                                            <li class="list-group-item"><span>Edit Permission</span></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="list-group-item"><span>Uninstall</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="rounded me-2" src="./assets/img/left-menu/Vector-9.png" width="25px">
                                    <h4 class="mb-0">Easy Form</h4>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center lineh-10">
                                    <span class="initials me-2">TM</span>
                                    <div>
                                        <h4 class="mb-0">Tim Moses</h4>
                                        <small>Jul 6, 2022</small>
                                    </div>
                                </div>
                            </td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>
                                <div class="dropstart">
                                    <span data-bs-toggle="dropdown" aria-expanded="true"><i class="fa-solid fa-ellipsis"></i></span>
                                    <ul class="dropdown-menu p-0">
                                        <ul class="list-group list-group-flush list-group-sm">
                                            <li class="list-group-item"><span>Open App</span></li>
                                            <li class="list-group-item"><span>Billing</span></li>
                                            <li class="list-group-item"><span>Edit Permission</span></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="list-group-item"><span>Uninstall</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="rounded me-2" src="./assets/img/left-menu/Vector-2.png" width="25px">
                                    <h4 class="mb-0">Easy Form</h4>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center lineh-10">
                                    <span class="initials me-2">TM</span>
                                    <div>
                                        <h4 class="mb-0">Tim Moses</h4>
                                        <small>Jul 6, 2022</small>
                                    </div>
                                </div>
                            </td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>
                                <div class="dropstart">
                                    <span data-bs-toggle="dropdown" aria-expanded="true"><i class="fa-solid fa-ellipsis"></i></span>
                                    <ul class="dropdown-menu p-0">
                                        <ul class="list-group list-group-flush list-group-sm">
                                            <li class="list-group-item"><span>Open App</span></li>
                                            <li class="list-group-item"><span>Billing</span></li>
                                            <li class="list-group-item"><span>Edit Permission</span></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="list-group-item"><span>Uninstall</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="rounded me-2" src="./assets/img/left-menu/Vector-3.png" width="25px">
                                    <h4 class="mb-0">Easy Form</h4>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center lineh-10">
                                    <span class="initials me-2">TM</span>
                                    <div>
                                        <h4 class="mb-0">Tim Moses</h4>
                                        <small>Jul 6, 2022</small>
                                    </div>
                                </div>
                            </td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>
                                <div class="dropstart">
                                    <span data-bs-toggle="dropdown" aria-expanded="true"><i class="fa-solid fa-ellipsis"></i></span>
                                    <ul class="dropdown-menu p-0">
                                        <ul class="list-group list-group-flush list-group-sm">
                                            <li class="list-group-item"><span>Open App</span></li>
                                            <li class="list-group-item"><span>Billing</span></li>
                                            <li class="list-group-item"><span>Edit Permission</span></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="list-group-item"><span>Uninstall</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="rounded me-2" src="./assets/img/left-menu/Vector-4.png" width="25px">
                                    <h4 class="mb-0">Easy Form</h4>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center lineh-10">
                                    <span class="initials me-2">TM</span>
                                    <div>
                                        <h4 class="mb-0">Tim Moses</h4>
                                        <small>Jul 6, 2022</small>
                                    </div>
                                </div>
                            </td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>
                                <div class="dropstart">
                                    <span data-bs-toggle="dropdown" aria-expanded="true"><i class="fa-solid fa-ellipsis"></i></span>
                                    <ul class="dropdown-menu p-0">
                                        <ul class="list-group list-group-flush list-group-sm">
                                            <li class="list-group-item"><span>Open App</span></li>
                                            <li class="list-group-item"><span>Billing</span></li>
                                            <li class="list-group-item"><span>Edit Permission</span></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="list-group-item"><span>Uninstall</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="rounded me-2" src="./assets/img/left-menu/Vector-5.png" width="25px">
                                    <h4 class="mb-0">Easy Form</h4>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center lineh-10">
                                    <span class="initials me-2">TM</span>
                                    <div>
                                        <h4 class="mb-0">Tim Moses</h4>
                                        <small>Jul 6, 2022</small>
                                    </div>
                                </div>
                            </td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>
                                <div class="dropstart">
                                    <span data-bs-toggle="dropdown" aria-expanded="true"><i class="fa-solid fa-ellipsis"></i></span>
                                    <ul class="dropdown-menu p-0">
                                        <ul class="list-group list-group-flush list-group-sm">
                                            <li class="list-group-item"><span>Open App</span></li>
                                            <li class="list-group-item"><span>Billing</span></li>
                                            <li class="list-group-item"><span>Edit Permission</span></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="list-group-item"><span>Uninstall</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="rounded me-2" src="./assets/img/left-menu/Vector-6.png" width="25px">
                                    <h4 class="mb-0">Easy Form</h4>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center lineh-10">
                                    <span class="initials me-2">TM</span>
                                    <div>
                                        <h4 class="mb-0">Tim Moses</h4>
                                        <small>Jul 6, 2022</small>
                                    </div>
                                </div>
                            </td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>
                                <div class="dropstart">
                                    <span data-bs-toggle="dropdown" aria-expanded="true"><i class="fa-solid fa-ellipsis"></i></span>
                                    <ul class="dropdown-menu p-0">
                                        <ul class="list-group list-group-flush list-group-sm">
                                            <li class="list-group-item"><span>Open App</span></li>
                                            <li class="list-group-item"><span>Billing</span></li>
                                            <li class="list-group-item"><span>Edit Permission</span></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="list-group-item"><span>Uninstall</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="rounded me-2" src="./assets/img/left-menu/Vector-7.png" width="25px">
                                    <h4 class="mb-0">Easy Form</h4>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center lineh-10">
                                    <span class="initials me-2">TM</span>
                                    <div>
                                        <h4 class="mb-0">Tim Moses</h4>
                                        <small>Jul 6, 2022</small>
                                    </div>
                                </div>
                            </td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>
                                <div class="dropstart">
                                    <span data-bs-toggle="dropdown" aria-expanded="true"><i class="fa-solid fa-ellipsis"></i></span>
                                    <ul class="dropdown-menu p-0">
                                        <ul class="list-group list-group-flush list-group-sm">
                                            <li class="list-group-item"><span>Open App</span></li>
                                            <li class="list-group-item"><span>Billing</span></li>
                                            <li class="list-group-item"><span>Edit Permission</span></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="list-group-item"><span>Uninstall</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="rounded me-2" src="./assets/img/left-menu/Vector-8.png" width="25px">
                                    <h4 class="mb-0">Easy Form</h4>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center lineh-10">
                                    <span class="initials me-2">TM</span>
                                    <div>
                                        <h4 class="mb-0">Tim Moses</h4>
                                        <small>Jul 6, 2022</small>
                                    </div>
                                </div>
                            </td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>
                                <div class="dropstart">
                                    <span data-bs-toggle="dropdown" aria-expanded="true"><i class="fa-solid fa-ellipsis"></i></span>
                                    <ul class="dropdown-menu p-0">
                                        <ul class="list-group list-group-flush list-group-sm">
                                            <li class="list-group-item"><span>Open App</span></li>
                                            <li class="list-group-item"><span>Billing</span></li>
                                            <li class="list-group-item"><span>Edit Permission</span></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="list-group-item"><span>Uninstall</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="rounded me-2" src="./assets/img/left-menu/Vector-9.png" width="25px">
                                    <h4 class="mb-0">Easy Form</h4>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center lineh-10">
                                    <span class="initials me-2">TM</span>
                                    <div>
                                        <h4 class="mb-0">Tim Moses</h4>
                                        <small>Jul 6, 2022</small>
                                    </div>
                                </div>
                            </td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>
                                <div class="dropstart">
                                    <span data-bs-toggle="dropdown" aria-expanded="true"><i class="fa-solid fa-ellipsis"></i></span>
                                    <ul class="dropdown-menu p-0">
                                        <ul class="list-group list-group-flush list-group-sm">
                                            <li class="list-group-item"><span>Open App</span></li>
                                            <li class="list-group-item"><span>Billing</span></li>
                                            <li class="list-group-item"><span>Edit Permission</span></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li class="list-group-item"><span>Uninstall</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>