<div class="mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Notification Inbox</h1>            
    </div>
    <p class="mt-3">Catch up on updates from all your boards. <a href="">Learn more</a> </p>
    <div class="d-flex align-items-center mb-3 slack-learn-more">
        <div class="d-flex align-items-center rounded inbox-get-your justify-content-between">
            <div class="d-flex align-items-center">
                <img class="slack-icon-width" src="./assets/img/slack-2x.png" alt="">
                <p class="mb-0">Get your AtmosAI notifications directly on Slack</p>
            </div>
            <div class="">
                <button class="btn btn-primary btn-sm ms-2">Learn more</button>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center cable inbox-tick-s">X</div>
    </div>
    <div class="row mt-4">        
        <div class="col-4">
            <div class="comp-pro">
                <div class="card">
                    <div class="card-body">
                        <h1 class="">Inbox View Options</h1>
                        <div class="inbox-options ms-4 mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Inbox Updates
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    I Was Mentioned
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    All Updates of Atmos
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Bookmarked Updates
                                </label>
                              </div>
                        </div>
                        <h1 class="">Filter by Board</h1>
                        <div class="filter-inbox">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item rounded cable">
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-0">Leads</p>
                                        <span class="">2</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>                   
            </div>
        </div>
        <div class="col-8">            
            <div class="d-flex inbox-cards">
                <div class="border rounded inbox-cards-inner">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="user-id-name me-3">UD</div>
                                    <div class="">
                                        <p class="mb-1 inbox-user-name">Umar Daraz</p>
                                        <div class="d-flex text-muted">
                                            <div class="cable link">Deals&nbsp;&nbsp;<span>></span></div>
                                            <div class="cable link">&nbsp;&nbsp;Active Deals&nbsp;&nbsp;<span>></span></div>
                                            <div class="cable link">&nbsp;&nbsp;Lead-1</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="text-muted"><i class="fa-light fa-clock me-2"></i>Nov 25, 2022</div>
                                    <i class="fa-light fa-bell btn borderless text-muted"></i>
                                    <i class="fa-solid fa-ellipsis btn borderless text-muted"></i>
                                </div>
                            </div>
                            <p class="">update</p>
                            <div class="d-flex justify-content-between align-items-center mb-3 mt-4">
                                <div class="d-flex align-items-center">
                                    <div class="inbox-liked me-1">UD</div>
                                    <p class="mb-0">Liked</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="fa-light fa-eye me-1"></i><p class="mb-0">3 Seen</p>
                                </div>
                            </div>
                            <div class="row border row-margin">
                                <div class="col-6 d-flex align-items-center justify-content-center border-end like-reply cable">
                                    <i class="fa-light fa-thumbs-up me-2"></i>
                                    <p class="mb-0">Like</p>
                                </div>
                                <div class="col-6 d-flex align-items-center justify-content-center like-reply cable">
                                    <i class="fa-light fa-reply me-2"></i>
                                    <p class="mb-0">Reply</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center inbox-user-rep mt-4 mb-2">
                                <div class="inbox-user-img me-2">
                                    <img src="./assets/img/profile-dummy.jpeg">
                                </div>
                                <div class="inbox-user-reply">
                                    <input name="reference" ngcontrol="reference" type="text" placeholder="Write a reply..." class="form-control form-control-sm ng-pristine ng-valid ng-touched p-2">
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between btn btn-primary btn-sm inbox-tick ms-3">
                    <i class="fa-duotone fa-check"></i>
                </div>
            </div>
            <div class="d-flex inbox-cards mt-3">
                <div class="border rounded inbox-cards-inner">
                    <div class="card">
                        <div class="card-body pb-0">
                            <div class="d-flex justify-content-between mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="user-id-name me-3">UD</div>
                                    <div class="">
                                        <p class="mb-1 inbox-user-name">Umar Daraz</p>
                                        <div class="d-flex text-muted">
                                            <div class="cable link">Leads&nbsp;&nbsp;<span>></span></div>
                                            <div class="cable link">&nbsp;&nbsp;Campaigns&nbsp;&nbsp;<span>></span></div>
                                            <div class="cable link">&nbsp;&nbsp;Jett Edwards</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="text-muted"><i class="fa-light fa-clock me-2"></i>Sep 12, 2022</div>
                                    <i class="fa-light fa-bell btn borderless text-muted"></i>
                                    <i class="fa-solid fa-ellipsis btn borderless text-muted"></i>
                                </div>
                            </div>
                            <p class="">Hey <a class="text-decoration-none" href="">@ Tim Moses</a> can you please provide an update on this item?</p>
                            <div class="d-flex justify-content-between align-items-center mb-3 mt-4">                                
                                <div class="d-flex align-items-center">
                                    <i class="fa-light fa-eye me-1"></i><p class="mb-0">4 Seen</p>
                                </div>
                            </div>
                            <div class="row border row-margin border-bottom-0">
                                <div class="col-6 d-flex align-items-center justify-content-center border-end like-reply cable">
                                    <i class="fa-light fa-thumbs-up me-2"></i>
                                    <p class="mb-0">Like</p>
                                </div>
                                <div class="col-6 d-flex align-items-center justify-content-center like-reply cable">
                                    <i class="fa-light fa-reply me-2"></i>
                                    <p class="mb-0">Reply</p>
                                </div>
                            </div>                            
                        </div>                        
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between btn btn-primary btn-sm inbox-tick ms-3">
                    <i class="fa-duotone fa-check"></i>
                </div>
            </div>
        </div>
    </div>
</div>