<div class="vender-purchase-order-title mt-4">
    <h1>Invoice</h1>
</div>
<div class="purchase-order-border mb-4"></div>
<div class="purchase-order-list mb-4">
    <select class="form-select form-select-sm">
        <option value="" ng-reflect-value="">All Transactions</option>
        <option value="" ng-reflect-value="">Order 1</option>
        <option value="" ng-reflect-value="">Order 2</option>
        <option value="" ng-reflect-value="">Order 3</option>
    </select>
</div>
<div class="vendor-purchase-order-details">
    <div class="row purchase-order-row">
        <div class="col-2">Invoice #</div>
        <div class="col-2">Reference#</div>
        <div class="col-2">Date</div>
        <div class="col-2">Total</div>
        <div class="col-2">Status</div>
        <div class="col-2"></div>
    </div>
    <div class="row purchase-order-list-row align-items-center">
        <div class="col-2 col-order"><a style="color: #0bc3ed;" href="customer-portal/single-invoice" class="text-decoration-none">INV-000048</a></div>
        <div class="col-2"></div>
        <div class="col-2">18 Feb 2022</div>
        <div class="col-2">$150.00</div>
        <div class="col-2 col-bill" style="color: #ff8d17;">Overdue by 1 day</div>
        <div class="col-2"><button class="btn btn-primary btn-sm">Pay Now</button></div>
    </div>
    <div class="row purchase-order-list-row align-items-center">
        <div class="col-2 col-order"><a style="color: #0bc3ed;" href="customer-portal/single-invoice" class="text-decoration-none">INV-000038</a></div>
        <div class="col-2"></div>
        <div class="col-2">04 Jan 2022</div>
        <div class="col-2">$200.00</div>
        <div class="col-2 col-bill">Paid</div>
    </div>
</div>
