<div class="rhs-sidebar-wrapper" style="width: {{data.trayWidth}}px;"> <!--mwlResizable [enableGhostResize]="true" (resizeEnd)="onResizeEnd($event)"-->
    <!--new top header area start-->
    <div class="tray-header-wrp">
        <div class="tray-top-hearder-wrp shadow-sm py-3 px-3 d-flex align-items-center justify-content-between">
            <div class="tray-hearder-lhs d-flex align-items-center">
                <div class="user-main-info me-5">
                    <div class="d-flex align-items-center">
                        <div>
                            <h2 class="mb-0">{{data.title}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tray-hearder-rhs d-flex align-items-center">
                <button (click)="hideDetailPopup()" class="btn btn-sm btn-outline-secondary ms-2"><i class="fa-light fa-xmark"></i></button>
            </div>
        </div>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-fulltemplates-tab" data-bs-toggle="tab" data-bs-target="#nav-fulltemplates" type="button" role="tab" aria-controls="nav-fulltemplates" aria-selected="true">Full Templates</button>
            <button class="nav-link" id="nav-dashobardtemplates-tab" data-bs-toggle="tab" data-bs-target="#nav-dashobardtemplates" type="button" role="tab" aria-controls="nav-dashobardtemplates" aria-selected="false">Dashboard Templates</button>
            <button class="nav-link" id="nav-panel-tab" data-bs-toggle="tab" data-bs-target="#nav-panel" type="button" role="tab" aria-controls="nav-panel" aria-selected="false">Panel</button>
        </div>
    </nav>
    <div class="tab-content p-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-fulltemplates" role="tabpanel" aria-labelledby="nav-fulltemplates-tab">
            <div class="card mb-3">
                <div class="card-body border shadow hover-overlay" style="max-height: 200px; overflow:hidden;">
                    <img src="assets/img/dash1.png" alt="">
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body border shadow hover-overlay" style="max-height: 200px; overflow:hidden;">
                    <img src="assets/img/dash2.png" alt="">
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body border shadow hover-overlay" style="max-height: 200px; overflow:hidden;">
                    <img src="assets/img/dash3.png" alt="">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-dashobardtemplates" role="tabpanel" aria-labelledby="nav-dashobardtemplates-tab">
            <div id="dash_property">
                <div *ngFor="let item of [1,2,3,4,5,6]; let i = index;" class="card border shadow hover-overlay mb-3">
                    <div class="card-body">
                        <div (click)="selectPanel(i)" class="image-pattern-style e-selected-style" id="template{{item}}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-panel" role="tabpanel" aria-labelledby="nav-panel-tab">
            <button *ngFor="let item of panelTypes" (click)="addPanel(item)" class="w-100 btn btn-default">{{item.title}}</button>
        </div>
    </div>
</div>
