<div class="modal fade" id="deadline" tabindex="-1" aria-labelledby="deadlineLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content rounded-3">
            <div class="modal-body">
                <div class="text-center mb-5">
                    <span type="button" class="modal-close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="fa-light fa-xmark fa-2x"></i></span>
                    <h2 class="mb-0">New! See upcoming & overdue tasks at a glance</h2>
                    <p>To make this work, connect the column Date with the relevant status column & people column. Be sure to use the green status label when something is completed.</p>
                </div>
                <div class="row mb-4 px-5">
                    <div class="col-md-6">
                        <label for="">Choose a status column</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select form-select-sm">
                            <option value="">Status</option>
                            <option value="">Priority</option>
                            <option value="">Status 1</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4 px-5">
                    <div class="col-md-6">
                        <label for="">Choose a person column (Optional)</label>
                    </div>
                    <div class="col-md-6">
                        <select class="form-select form-select-sm">
                            <option value="">Owner</option>
                            <option value="">People</option>
                            <option value="">People 1</option>
                            <option value="">+ Create new column</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <video autoplay="" loop="" class="w-50">
                        <source src="./assets/img/merge_date_column.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="modal-footer">
                <button  class="btn btn-sm btn-primary">Connect Columns</button>
            </div>
        </div>
    </div>
</div>