<div class="customer-portal-statement customer-portal-estimate-invoice d-flex justify-content-between mt-4">
    <div class="cs-statement-left">
        <p class="mb-2">Date Range</p>
        <div class="d-flex">
            <select placeholder="This Year" id="country" name="country" class="form-select form-select-sm me-4">
                <option value="Yemen">This Year</option>
                <option value="Zambia">2020</option>
                <option value="Zimbabwe">2021</option>
                <option value="Zimbabwe">2022</option>
            </select>
            <button class="btn btn-primary btn-sm">Go</button>
        </div>
    </div>
    <div class="cs-statement-right">
        <button class="btn btn-primary btn-sm me-2">Download PDF</button>
        <button class="template-btn btn btn-sm">Print</button>
    </div>
</div>
<div class="back-to-estimates customer-portal-estimate-invoice mt-4">
    <div class="card bt-1 view-invoice">
        <div class="card-body px-5">
          <div class="invoice-header d-flex justify-content-between align-items-center">
            <div>
              <h2 class="mb-0">ATMOSai</h2><span>your company tag line.</span>
            </div>
            <div><span class="invoice-text">Invoice</span></div>
          </div>
          <div class="row row-logo justify-content-between">
            <div class="col-sm-3 my-auto"><img
                src="./assets/img/atmos-logo-sidebar.png" width="200px"></div>
            <div class="col-sm-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center justify-content-between p-1">Date:
                  <span>2022-12-21</span></li>
                <li class="list-group-item d-flex align-items-center justify-content-between p-1">
                  Invoice#: <span>003</span></li>
                <li class="list-group-item d-flex align-items-center justify-content-between p-1">
                  Customer Id: <span></span></li>
                <li class="list-group-item d-flex align-items-center justify-content-between p-1">
                  Purchase order#: <span>1234556</span></li>
                <li class="list-group-item d-flex align-items-center justify-content-between p-1">
                  Payment due by: <span>2022-12-23</span></li>
              </ul>
            </div>
          </div>
          <div class="row row-bill-ship justify-content-between mt-3">
            <div class="col-sm-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item invoice-heading">Bill to:</li>
                <li
                  class="list-group-item d-flex align-items-center justify-content-between p-1 ng-star-inserted"> 1 </li>
                <li
                  class="list-group-item d-flex align-items-center justify-content-between p-1 ng-star-inserted"> Abbot Kinney
                  Blvd, Los Angeles, CA, USA </li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item invoice-heading">Ship to (if different):</li>
                <li
                  class="list-group-item d-flex align-items-center justify-content-between p-1 ng-star-inserted"> 1 </li>
                <li
                  class="list-group-item d-flex align-items-center justify-content-between p-1 ng-star-inserted"> Abbot Kinney
                  Blvd, Los Angeles, CA, USA </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12">
            <table class="table table-sm table-striped mt-3 table-bordered">
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Items</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Discount</th>
                  <th>Total Price</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr class="ng-star-inserted">
                  <td>Category A</td>
                  <td>Item A</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                  <td>Item A</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-sm-8">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Special note and instructions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="height: 130px;"> This </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-4">
                <table class="table price table-bordered">
                  <tr>
                    <th>Subtotal</th>
                    <td>$ </td>
                  </tr>
                  <tr>
                    <th>Sale tax rate</th>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th>Sales tax</th>
                    <td>$ 1</td>
                  </tr>
                  <tr>
                    <th>Discount</th>
                    <td>$ 1</td>
                  </tr>
                  <tr>
                    <th><strong>Total</strong></th>
                    <td><strong>$ 1</strong></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-12 invoice-footer">
            <p>Make all checks payable to my company name</p>
            <h3>Thanks for your Business!</h3>
            <p>Should you have any query concerning to this invoive, Please contact John Doe on
              00-000-000-0000</p>
            <hr>
            <p>111 street Town/City, County, ST, 0000</p>
            <p>tell: 000-000-000-00, Fax: 000-000-000-0000, Email:abc@companyname.com, Web:
              yourcompany.com</p>
          </div>
        </div>
    </div>
</div>