<div class="conntected-account-wrp pt-5">
    <div class="row justify-content-center pt-5">
        <div class="col-sm-7">
            <div class="connnected-account-content-wrp">
                <div class="connected-account-header text-center mb-3">
                    <h1 class="mb-0">Securely connect your bank or credit card</h1>
                    <p>Save time by importing transactions automatically.</p>
                </div>
                <div class="card rounded-3 shadow-lg mb-4">
                    <div class="card-body">
                        <div class="searchbox mb-3">
                            <p class="mb-1 text-center">Search your bank or select an option below.</p>
                            <mat-form-field floatLabel="never" appearance="outline">
                                <mat-icon matSuffix>search</mat-icon>
                                <input matInput placeholder="Type a bank name for example 'Ally', 'Chime'">
                            </mat-form-field>
                        </div>
                        <div class="bank-list">
                            <div class="row g-3">
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/chase.png" alt="">
                                        <h4 class="mb-0">Chase</h4>
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/boa.png" alt="">
                                        <h4 class="mb-0">Bank of America</h4>
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/fargo.png">
                                        <h4 class="mb-0">Wells Fargo</h4>
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/aexpress.png" alt="">
                                        <h4 class="mb-0">American Express</h4>
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/chase.png" alt="">
                                        <h4 class="mb-0">Chase</h4>
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/boa.png" alt="">
                                        <h4 class="mb-0">Bank of America</h4>
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/fargo.png">
                                        <h4 class="mb-0">Wells Fargo</h4>
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/aexpress.png" alt="">
                                        <h4 class="mb-0">American Express</h4>
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/chase.png" alt="">
                                        <h4 class="mb-0">Chase</h4>
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/boa.png" alt="">
                                        <h4 class="mb-0">Bank of America</h4>
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/fargo.png">
                                        <h4 class="mb-0">Wells Fargo</h4>
                                    </div>
                                </div>
                                <div class="col-sm-3 ">
                                    <div class="bank-item d-flex align-items-center">
                                        <img src="./assets/img/aexpress.png" alt="">
                                        <h4 class="mb-0">American Express</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payment-security d-flex align-items-center p-3">
                    <div class="me-3">
                        <i class="fa-light fa-lock"></i>
                    </div>
                    <div>
                        <h3 class="mb-0">How wave securely imports your transactions</h3>
                        <p>We partener with plaid used by venmo, Robinhood, Coinbase and Acorns to connect your bank privacy police and security.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
