<div class="back-to-project">
    <a class="text-decoration-none" href="customer-portal/projects"> < Back to Projects </a>
</div>
<div class="project-name-title d-flex justify-content-between mt-3">
    <div class="project-name-title-left">
        <p class="mb-0">Branding for Bernard Consultancy</p>
    </div>
    <div class="project-name-title-right d-flex justify-content-between me-5">
        <div class="log-hours text-center">
            <p class="log-hours-pa mb-0">LOGGED HOURS</p>
            <p class="log-hours-pb mb-0">10:30</p>
        </div>
        <div class="unbilled-hours text-center">
            <p class="unbilled-hours-pa mb-0">LOGGED HOURS</p>
            <p class="unbilled-hours-pb mb-0">08:30</p>
        </div>
    </div>
</div>
<div class="cs-project-tabs mt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Tasks</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Timesheets</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false">Comments</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active mt-2" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Task</div>
                <div class="col-3">Logged Hours</div>
                <div class="col-3">Billed Hours</div>
                <div class="col-3">Unbilled Hours</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Logo</div>
                <div class="col-3">04:00</div>
                <div class="col-3">00:00</div>
                <div class="col-3">04:00</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Business cards</div>
                <div class="col-3">04:00</div>
                <div class="col-3">00:00</div>
                <div class="col-3">04:00</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Brochures</div>
                <div class="col-3">04:00</div>
                <div class="col-3">00:00</div>
                <div class="col-3">04:00</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Letterhead</div>
                <div class="col-3">04:00</div>
                <div class="col-3">00:00</div>
                <div class="col-3">04:00</div>
            </div>
        </div>
        <div class="tab-pane fade mt-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Task</div>
                <div class="col-3">Date</div>
                <div class="col-3">Time</div>
                <div class="col-3">Comments</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Logo</div>
                <div class="col-3">08 Feb 2022</div>
                <div class="col-3">02:00</div>
                <div class="col-3">Invoiced</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Business cards</div>
                <div class="col-3">08 Feb 2022</div>
                <div class="col-3">00:00</div>
                <div class="col-3">Unbilled</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Brochures</div>
                <div class="col-3">08 Feb 2022</div>
                <div class="col-3">00:00</div>
                <div class="col-3">Unbilled</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Letterhead</div>
                <div class="col-3">08 Feb 2022</div>
                <div class="col-3">00:00</div>
                <div class="col-3">Unbilled</div>
            </div>
        </div>
        <div class="tab-pane fade mt-2" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Task</div>
                <div class="col-3">Logged Hours</div>
                <div class="col-3">Billed Hours</div>
                <div class="col-3">Unbilled Hours</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Logo</div>
                <div class="col-3">04:00</div>
                <div class="col-3">00:00</div>
                <div class="col-3">04:00</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Business cards</div>
                <div class="col-3">04:00</div>
                <div class="col-3">00:00</div>
                <div class="col-3">04:00</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Brochures</div>
                <div class="col-3">04:00</div>
                <div class="col-3">00:00</div>
                <div class="col-3">04:00</div>
            </div>
            <div class="row project-tasks align-items-center ms-0 me-0">
                <div style="color: #0bc3ed;" class="col-3 col-order">Letterhead</div>
                <div class="col-3">04:00</div>
                <div class="col-3">00:00</div>
                <div class="col-3">04:00</div>
            </div>
        </div>
    </div>
</div>