<div class="teams-page mt-4">
    <div class="row">
        <div class="col-2">
            <h1 class="mb-1">Teams</h1>
            <ul class="list-group list-group-flush mb-2">
                <li class="list-group-item"><i class="fa-light fa-plus me-2"></i>New team</li>
                <li class="list-group-item"><i class="fa-light fa-filter me-2"></i>Filter teams</li>
                <li class="list-group-item"><i class="fa-light fa-magnifying-glass me-2"></i>Search teams</li>                
            </ul>
            <div class="border-top"></div>
            <div class="all-users d-flex justify-content-between mt-2">
                <div class="all-users-icon"><i class="fa-light fa-user-group me-2"></i>All users</div>
                <div class="all-users-one">1</div>
            </div>
        </div>
        <div class="col-10 ps-4">
            <div class="all-users-tab mt-5">
                <h1 class="">All users</h1>
                <div class="input-group">
                    <input class="form-control border-end-0 border" type="search" placeholder="search by name or email" id="example-search-input"><i class="fa-light fa-magnifying-glass"></i>
                </div>
                <div class="all-users-table">
                    <div class="row">
                        <div class="col-3">Name</div>
                        <div class="col-3">Email</div>
                        <div class="col-3">Title</div>
                        <div class="col-3">Teams</div>
                    </div>
                </div>
                <div class="all-users-table-content">
                    <div class="row align-items-center">
                        <div class="table-user col-3 d-flex align-items-center">
                            <p class="mb-0">T</p> <a class="ms-2" href="">tim</a>
                        </div>
                        <div class="col-3">tim@atmosai.io</div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <div class="dropdown">
                                <span class="" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-regular fa-user-group"></i>
                                </span>
                                <ul class="dropdown-menu p-3" style="width:400px;">
                                    <div class="input-group input-group-sm m-0 w-100">
                                        <input type="text" class="form-control border-end-0" placeholder="Search Team">
                                        <span class="input-group-text bg-transparent"><i class="fa-light fa-search p-0 border-0"></i></span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>