<div class="project-media-files-header d-flex justify-content-between mt-4 mb-4">
    <div class="project-media-files-header-left d-flex align-items-center">
        <i class="fa-light fa-diagram-project me-2"></i> <h1 class="mb-0" contenteditable="true">Project Management</h1>
    </div>
    <div class="project-media-files-header-right">
        <button class="btn btn-primary btn-sm mt-2"><i class="fa-light fa-plus me-2"></i> Add Project</button>
    </div>
</div>
<div class="media-page-grid">
    <div class="row">
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
        <div class="col-2 mb-5">
            <div class="project-grid">
                <img class="project-grid-img mb-2" src="./assets/img/media-files.jpg">
                <div class="project-grid-content ms-2">
                    <p class="mb-1 project-grid-title">Fort Jacson Barracks Housing</p>
                    <p class="mb-0 project-grid-pa">Power</p>
                    <p class="mb-0 project-grid-pb">New constructions</p>
                    <p class="mb-0 project-grid-pb">Power Production</p>
                    <p class="mb-2 project-grid-pc mt-1">TED</p>                    
                </div>
            </div>
        </div>
    </div>
</div>