<div *ngIf="loaded" class="row control-section">
    <ejs-dashboardlayout
            id="predefine_dashboard"
            #predefine_dashboard columns="6"
            [panels]='panelsData'
            [cellSpacing]='cellSpacing'
            [allowResizing]='true'
            [allowDragging]='true'
            [allowPushing]='true'
            [columns]="12"
            (resizeStop)="onResizeStop($event)"
            (resize)="onResize($event)"
            (resizeStart)="onResizeStart($event)"
    >
        <e-panels>
            <e-panel
                    *ngFor="let panel of panelsData; let i = index"
                    [id]="panel.id"
                    [sizeX]="panel.sizeX"
                    [sizeY]="panel.sizeY"
                    [row]="panel.row"
                    [col]="panel.col"
            >
                <ng-template #content>
                    <app-panel-template [data]="panel"></app-panel-template>
                </ng-template>
            </e-panel>
        </e-panels>
    </ejs-dashboardlayout>
</div>
<app-dashboard-tray *ngIf="boardsComponent.showDashTray" [data]="trayData" class="right-sidebar-tray"></app-dashboard-tray>
