<div class="admin-page-wrapper">
    <div class="page-header">
        <div *ngIf="!headerCollapsed" class="d-flex justify-content-between align-items-center">
            <div class="header-lhs d-flex align-items-center">
                <h4 class="page-heading mb-0 pe-2" contenteditable="true">
                    <span>Page Templates</span>
                </h4>
                <span class="ms-2 me-2"  mat-raised-button matTooltip="Show board description" matTooltipPosition="above" matTooltipClass="above"><i class="fa-thin fa-circle-info"></i></span>
                <span class="favorite" mat-raised-button matTooltip="Add to favorites" matTooltipPosition="above" matTooltipClass="above"><i class="fa-thin fa-star"></i></span>
            </div>
            <div class="header-rhs d-flex align-items-center">
                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#promotional">Promotional</button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle-split" data-bs-toggle="dropdown"
                            aria-expanded="false">Create
                </button>
                <div class="button-group ms-2">
                    <button type="button" class="btn btn-outline-secondary borderless dropdown-toggle-split" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Console log</a></li>
                        <li><a class="dropdown-item">Clear local cache only</a></li>
                        <li><a class="dropdown-item">Clear cache and database both</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="!headerCollapsed" class="page-heading-description w-50" contenteditable="true">
            <span>This is description</span>
            <i class="fa-solid fa-ellipsis"></i>
        </div>
        <div class="header-nab-tabs d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <h5 class="mb-0 me-4" contenteditable="true" *ngIf="headerCollapsed">Page Templates</h5>
                <ul class="tabslink nav boards-top-menu-style" id="nav-tab" role="tablist">
                    <li class="nav-item active" id="nav-login-tab" data-bs-toggle="tab" data-bs-target="#nav-login" type="button" role="tab" aria-controls="nav-login" aria-selected="true">
                        <div class="boards-top-menu-style-first"><i class="fa-thin fa-home"></i> Page Templates</div>
                        <div class="boards-top-menu-style-third">
                            <span class="dropdwon-btn" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis"></i></span>
                            <div class="dropdown-menu p-0 style-less">
                                <ul class="list-group list-group-flush list-group-sm">
                                    <li class="list-group-item"><i class="fa-light fa-star"></i><span class="ms-2">Add to my favorites</span></li>
                                    <li class="list-group-item"><i class="fa-light fa-pencil"></i><span class="ms-2">Rename</span></li>
                                    <li class="list-group-item"><i class="fa-light fa-trash"></i><span class="ms-2">Delete</span></li>
                                    <li class="list-group-item"><i class="fa-light fa-home"></i><span class="ms-2">Set as board default</span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="dropdown plus-icon-drop-invoice button-group outlined single-btn-in-group ms-2">
                    <button type="button" class="btn btn-outline-secondary add-new-page" mat-raised-button matTooltip="Add view" matTooltipPosition="right" matTooltipClass="right" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-thin fa-plus"></i>
                    </button>
                    <div class="dropdown-menu p-0 style-less">
                        <ul class="list-group list-group-flush list-group-sm">
                            <li class="list-group-item">
                                <div class="ls" data-bs-toggle="modal" data-bs-target="#viewcenter" >
                                    <i class="fa-light fa fa-home"></i>
                                    <span class="ms-2">Apps</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-centere">
                <div *ngIf="headerCollapsed" class="header-rhs d-flex align-items-center me-2" style="margin-top: -5px;">
                    <div class="button-group outlined borderless">
                        <button type="button" class="btn collapsed btn-outline-secondary"><i
                                class="fa-thin fa-envelope"></i> Bulk Emails
                        </button>
                        <button type="button"
                                class="btn collapsed btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="button-group ms-2">
                        <button type="button" class="btn collapsed btn-outline-secondary borderless dropdown-toggle-split"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <div (click)="headerToggle()" class="header-collapse-btn"><i class="fa-thin fa-angle-{{anglePos}}"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="langding-page-content">
        <div class="container">
            <div class="landing-page-heading mb-5">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 ms-3">
                        <h2 class="mb-2 lineh-26">Build lead-capturing<br> campaign with landing pages</h2>
                        <p class="mb-3">AtmosAI drag and drop editor makes creating new pages fast and simple.</p>
                        <button class="btn btn-sm btn-primary">Get Started</button>
                    </div>
                    <div class="flex-shrink-0">
                        <img class="w-50" src="./assets/img/book-icon.png">
                    </div>
                </div>
            </div>
            <div class="upgrad-bar d-flex align-items-center justify-content-between border rounded-3 p-2">
                <div class="ls">
                    <i class="fa-light fa-arrow-up me-2 initials"></i>
                    <span class="mb-0 fw-bold me-2 align-middle">Remove the AtmosAI logo from your landing page</span>
                    <small class="align-middle">Unblock primium features with State CRM Suite.</small>
                </div>
                <div class="rs">
                    <button class="btn btn-outline-secondary">Upgrade</button>
                </div>
            </div>
        </div>
    </div>
</div>